h1 {
    color: green;
    background-color: rgb(145, 3, 3);
    line-height: 1em;
    font-size: 40px;
}

#pre1 {
    color: black;
    background-color: orange;
    width: 50%;
    border-style: solid;
        border-color: grey;
    }
    
    table,
    th,
    td {
        border: 1px solid;
        padding: 10px;
        border-collapse: collapse;
        width: 60%;
    }
    
    th {
        background-color: lightgreen;
    }
    
    td {
        background-color: lightblue;
}