@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #4a3267;
    background-color: #de638a;
    line-height: 1em;
    font-size: 40px;
    }

table,
thead,
tbody,
th,
td {
    box-sizing: border-box;
    border: 1px solid;
    padding: 10px;
    border-collapse: collapse;
    width: 60%;
}
    
th {
    background-color: #4a3267;
}
    
td {
    background-color: #de638a;
    box-sizing: border-box;
    display: inline-block;
        width: 100%;
        padding: 2px;
        margin: 0.5px;
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
    }
    
    span {
        display: inline-block;
        width: 80px;
    }
    
    input {
        display: inline-block;
        width: 300px;
}

button {
    width: 30%;
    height: 40px;
    margin: 3px;
    padding: 5px;
    background-color: hsl(0, 0, 10%);
    border: 1px solid #bbb;
    border-radius: 6px;
}

button:hover{
    background-color: #f7b9c4;
}

button:active{
    background-color: #ff7c94;
}

caption{
    font-size: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {
    margin-right: 20px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

        nav a:hover {
    text-decoration: underline;
    }

        ul li a {
    text-decoration: none;
    color: #4a3267;
    }
textarea {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #de638a);
}



